/* CSS is how you can add style to your website, such as colors, fonts, and positioning of your
   HTML content. To learn how to do something, just try searching Google for questions like
   "how to change link color." */

body {
  background-color: white;
  color: black;
  font-family: Verdana;
}

<?php
if ($page_not_found) {
   header('This is not the page you are looking for', true, 404);
   include('not_found.html');
   exit();
}
